body{
    font-family: 'Times New Roman', Times, serif; 
    font-size: medium;  
    background-color: rgb(44, 41, 41);
}
li{
    margin: 20px;
}

a{
    width: 10%;
    font-size: smaller;
    text-decoration: none;
}

a:hover{
    color: rgb(125, 134, 75);
}
nav{
    display: inline-block;
    padding: 1%;
    width: 80%;
    flex-direction: row;
    background-color: rgb(78, 86, 88);

}
nav ul{
    display: flex;
    list-style-type: none;
    text-align: justify;
    font-size: 140%;
}
nav img{
    margin: 20px;
    align-items: end;
    width: 60%;
    ;
}

.grid{
    width: 100%;
}
main{
    background-color:aliceblue;
    font-size: large;
    padding: 15px;
    display: block  ;
} 

nav a{
    color: azure;
    text-decoration: none;
    font-weight: bold;
}
header{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    text-align: center;
    color: rgb(178, 195, 212);
    padding: 5px;
    background-color: rgb(55, 58, 58);
}

section{
    margin: 10px;
    padding: 20px;
    
}
main img{
    height: 500px;  
    width: 500px;
}
footer{
    display: block;
    padding: 15px;
    background-color: rgb(53, 59, 59);
}
p{
    line-height: normal;
}